.container {
  padding: 1.25rem calc(50% - 500px);
  margin-right: 1rem;
  margin-left: 1rem;
}

.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: 
    "nav"
    "header"
    "main"
    "sidebar"
    "footer";
}

@media (min-width: $large-width) {
  .grid {
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
    "nav nav"
    "header   header"
    "main   sidebar"
    "footer footer";
  }
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.nav {
  grid-area: nav;
}

.sidebar {
  grid-area: sidebar;
}

.footer {
  grid-area: footer;
}