.container {
  padding: 1.25rem calc(50% - 500px);
  margin-right: 1rem;
  margin-left: 1rem;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media(min-width: $large-width) {
    flex-direction: row;    
    justify-content: space-between;    
  }

  ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: center;
    padding-top: 2rem;
    @media(min-width: $large-width) {
      justify-content: space-between;    
      padding-top: 0;      
    }
  }
  li {
    display: inline-block;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    &:first-child {
      margin-right: 0.5rem;
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
      margin-left: 0.5rem;
    }
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  background: #eee;
}

.content {
  display: flex;
  flex-direction: row;
}

.cta {
  flex: 2 0 0;
}

.sections {
  flex: 1 0 0;
}